<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="covidForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!covidForm.valid">{{editMode ? 'Update' : 'Save'}}</button>
          <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="patientName">Patient Name</label>
            <input type="text" id="patientName" formControlName="patientName" class="form-control"/>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" #phoneNumber/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="gender">Gender</label>
            <select name="gender" id="gender" class="form-control" formControlName="gender">
              <option value="">--Select--</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="phoneNumber">State</label>
            <input type="text" id="state" formControlName="state" class="form-control" #state/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
